/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,body,#app{
    width:100%;
    height:100%;
    overflow: auto;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #000;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 样式重置 */
.ivu-layout{
    padding: 0 !important;
    background: #092a50 !important;
}
.ivu-menu-dark {
    background: #092a50 !important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
    background: #092a50 !important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
    background: #092a50 !important;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
    color: #fff;
    background: #092a50 !important;
}

.ivu-layout-header{
    background: #092a50 !important;
}

.ivu-layout-content{
    /*  background: url('../shzxjzpt/body_bg.png') no-repeat !important;
     background-size: cover !important; */
    background-color: #FFFFFF !important; 
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
    background: #092a50 !important;
}

.tabScroll .ivu-tag-border.ivu-tag-primary{
    color: #fff!important;
    border: 1px solid #fff!important;
    
}
.tabScroll .ivu-tag-border.ivu-tag-primary .ivu-icon-ios-close {
    color: #fff!important;
}
.tabScroll .ivu-tag-text{
    color: #fff!important;
}
.tabScroll  .ivu-tag-border{
    border: 1px solid transparent !important;
}
.tabScroll .ivu-tag{
    background:rgba(0, 0, 0, 0.3) !important;
}
.ivu-tag-border.ivu-tag-primary:after{
    background: #fff!important;
}
.ivu-tag .ivu-icon-ios-close{
    color:#fff !important;
}
/*  */
html,body{
    overflow: hidden !important;
}