div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100%;
    padding: 15px 10px 10px 10px;
    min-width: 1200px;
}

.top-content {
    width: 100%;
    height: 50px;
    background-color: #fff;
}

.search {
    position: relative;
    z-index: 1;
    float: left;
    width: 350px;
    height: 26px;
    background-color: #eaedf2;
    margin: 12px 0 0 15px;
    cursor: pointer;
}

.top-search i:first-child {
    font-size: 18px;
    line-height: 26px;
    color: #354f72;
    margin-left: 10px;
}

.top-search i:last-child {
    float: right;
    line-height: 29px;
    font-size: 22px;
    margin-right: 10px;
    color: #354f72;
}

.search-content {
    position: absolute;
    top: 27px;
    left: 1px;
    display: none;
    width: 348px;
    background-color: #fff;
    font-size: 16px;
    color: #334f74;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1)
}

.search-details {
    margin-top: 15px;
    padding-left: 15px;
    height: 30px;
    line-height: 30px
}

.search-details .userInput {
    height: 30px;
    width: 220px;
    margin-left: 10px;
    background-color: #d9dfeb;
    color: #334f74;
}

.search-btn {
    margin-top: 15px;
    padding-right: 20px;
    height: 30px;
    margin-bottom: 20px;
}

.search-btn .userBtn {
    float: right;
    width: 74px;
    font-size: 16px;
    height: 36px;
}

.sdcm-list {
    float: right;
    height: 100%;
    margin-right: 15px;
    font-size: 16px;
    color: #334f74;
}

.sdcm-list .sdcm-use:nth-child(1) {
    border-left: 1px solid #c2cad5;
    vertical-align: top;
}

.sdcm-use {
    margin-top: 14px;
    padding: 0 25px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    border-right: 1px solid #c2cad5;
}

.bottom-content {
    overflow: hidden;
    margin-top: 15px;
    width: 100%;
    padding: 10px 15px 0 15px;
    height: calc(100% - 65px);
    background-color: #fff;
}

.gird-data {
    width: 100%;
    height: calc(100% - 40px);
}

/*表单样式*/
.gird-head {
    width: 100%;
    height: 40px;
    background-color: #86a2c9;
    border-left: 1px solid #b2c2db;
    border-right: 1px solid #b2c2db;
}

.gird-head .head-data:last-child {
    border-right: none;
}
.girdBox{
    width: 100%;
    height: calc(100% - 40px);
    border: 1px solid #b2c2db;
    border-top: none;
}
.girdCheck {
    zoom: 120%;
    vertical-align: middle;
}

.head-data {
    float: left;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    border-right:1px dashed #b2c2db;
    color: #ffffff;
    text-align: center;
}

.gird-col {
    width: 100%;
    height: 40px;
}
.gird-col:hover{
    background-color:#fff6e5;
}
.gird-body .gird-col:last-child{
    margin-bottom: 20px;
}
.body-data {
    padding: 0 4px;
    float: left;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    color: #314f71;
    text-align: center;
    border-right: 1px dashed #b2c2db;
    border-bottom: 1px dashed #b2c2db;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.gird-col .body-data:last-child {
    border-right:none;
}


/*分页样式*/
.rolePaginbar {
    position: relative;
    height: 40px;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    color: #325076;
}

.girdSize {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    letter-spacing: 1px;
}
.girdSelect{
    height: 18px;
    color: #325076;
    vertical-align: middle;
}
.girdSelect:focus{
    outline: none;
}
.paginbar {
    float: right;
    margin-right: 10px;
}
.paginbar>a{
   padding-left: 5px;
}
.userInput{
    margin-left: 20px;
    color: #325076;
    width: 30px;
}
.dis{
    color: #fdc403;
    padding-left: 5px;
}
/*滚动条优化*/
#mCSB_1_scrollbar_vertical{
    right: -8px;
}
#mCSB_1_scrollbar_vertical .mCSB_dragger_bar{
    background-color: #86a2c9;
}