div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.edit-search{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70px;
    background-color: #fff;
}
.search-con{
    font-size: 0;
    margin-top: 20px;
    float: left;
    margin-right: 30px;
}
.search-tit{
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    font-size: 14px;
    color: #365073;
}
.search-input{
    width: 170px;
    height: 30px;
    background-color: #eaedf2;
    margin-left: 10px;
    font-size: 14px;
    color: #365073;
    text-indent: 10px;
    letter-spacing: 1px;
}
.search-input:focus{
    outline:#bdd5fa auto 1px;
}
.search-btn{
    position: absolute;
    right: 18px;
    top:20px;
    font-size: 0;
}
.search-btn .resetBtn{
    margin-right: 25px;
    width: 60px;
    height: 30px;
    font-size: 16px;
}
.search-btn .queryBtn{
    width: 60px;
    height: 30px;
    font-size: 16px;
}
.resetBtn {
    color: #fff;
    zoom: 1;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border:1px solid #86a2c9;
    background: #aab8d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#8ea8cc), to(#86a2c9));
    background: -moz-linear-gradient(top,  #8ea8cc,  #86a2c9);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ea8cc', endColorstr='#86a2c9');
}
.resetBtn:hover {
    background: #aab8d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#97adca), to(#5b8bca));
    background: -moz-linear-gradient(top,  #97adca,  #5b8bca);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#97adca', endColorstr='#5b8bca');
}
.resetBtn:active {
    position: relative;
    top: 1px;
    background: #aab8d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#86a2c9), to(#8ea8cc));
    background: -moz-linear-gradient(top,  #86a2c9,  #8ea8cc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#86a2c9', endColorstr='#8ea8cc');
}
.queryBtn {
    color: #fff;
    zoom: 1;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border:1px solid #fdc91b;
    background: #fdc91b;
    background: -webkit-gradient(linear, left top, left bottom, from(#f7c92f), to(#ffc501));
    background: -moz-linear-gradient(top,  #f7c92f,  #ffc501);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7c92f', endColorstr='#ffc501');
}
.queryBtn:hover {
    background: #fcc50d;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbc718), to(#e8b509));
    background: -moz-linear-gradient(top,  #fbc718,  #e8b509);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbc718', endColorstr='#e8b509');
}
.queryBtn:active {
    position: relative;
    top: 1px;
    background: #fdc91b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc501), to(#f7c92f));
    background: -moz-linear-gradient(top,  #ffc501,  #f7c92f);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc501', endColorstr='#f7c92f');
}
.dropDown{
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.dropDown.dropLock{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.dropDown i{
    color: #fecd28;
    font-weight: bolder;
    font-size: 30px;
}

/*表单*/
.edit-gird{
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 82px);
    background-color: #fff;
}
.top-content {
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.sdcm-list {
    float: right;
    height: 100%;
    margin-right: 15px;
    font-size: 16px;
    color: #334f74;
}

.sdcm-list .sdcm-use:nth-child(1) {
    border-left: 1px solid #c2cad5;
    vertical-align: top;
}

.sdcm-use {
    margin-top: 14px;
    padding: 0 25px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    border-right: 1px solid #c2cad5;
}

.bottom-content {
    overflow: hidden;
    width: 100%;
    padding: 0 15px 0 15px;
    height: calc(100% - 50px);
    background-color: #fff;
}

.gird-data {
    width: 100%;
    height: calc(100% - 40px);
}

/*表单样式*/
.gird-head {
    width: 100%;
    height: 40px;
    background-color: #86a2c9;
    border-left: 1px solid #b2c2db;
    border-right: 1px solid #b2c2db;
}

.gird-head .head-data:last-child {
    border-right: none;
}
.girdBox{
    width: 100%;
    height: calc(100% - 40px);
    border: 1px solid #b2c2db;
    border-top: none;
}
.girdCheck {
    zoom: 120%;
    vertical-align: middle;
}

.head-data {
    float: left;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    border-right:1px dashed #b2c2db;
    color: #ffffff;
    text-align: center;
}

.gird-col {
    width: 100%;
    height: 40px;
}
.gird-col:hover{
    background-color:#fff6e5;
}
.gird-body .gird-col:last-child{
    margin-bottom: 20px;
}
.body-data {
    padding: 0 4px;
    float: left;
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    color: #314f71;
    text-align: center;
    border-right: 1px dashed #b2c2db;
    border-bottom: 1px dashed #b2c2db;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.gird-col .body-data:last-child {
    border-right:none;
}

/*分页样式*/
.rolePaginbar {
    position: relative;
    height: 40px;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    color: #325076;
}

.girdSize {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    letter-spacing: 1px;
}
.girdSelect{
    height: 18px;
    color: #325076;
    vertical-align: middle;
}
.girdSelect:focus{
    outline: none;
}
.paginbar {
    float: right;
    margin-right: 10px;
}
.paginbar>a{
    padding-left: 5px;
}
.userInput{
    margin-left: 20px;
    color: #325076;
    width: 30px;
}
.dis{
    color: #fdc403;
    padding-left: 5px;
}
/*滚动条优化*/
#mCSB_1_scrollbar_vertical{
    right: -8px;
}
#mCSB_1_scrollbar_vertical .mCSB_dragger_bar{
    background-color: #86a2c9;
}