html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #325076;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

/*html, body {*/
    /*width: 100%;*/
/*}*/

/*body {*/
    /*-webkit-text-size-adjust: none;*/
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/
html {
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: 微软雅黑,宋体,Arial,Helvetica,Verdana,sans-serif;
    color: #000000;
    font-size:12px;
    background-color: initial;
    overflow: hidden;
}



/*layer样式整理*/
body .sdcm_layer .layui-layer-title{
    height: 35px;
    background-color: #fff;
    color: #325074;
    line-height: 35px;
}
body .sdcm_layer .layui-layer-setwin{
    top: 12px;
}
body .sdcm_layer .layui-layer-btn{
    padding: 0;
    position: absolute;
    width: 100%;
    height: 39px;
    border-top: 1px solid #eee;
    bottom: 0;
    left: 0;
}
body .sdcm_layer #layerConfirm{
    color: #2a4e6e;
}
/*自己扩展公共的样式*/

/*input*/
/*input 基础样式*/
.userInput{
    border: 1px solid #ccc;
    padding-left: 5px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.userInput:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
/*button*/
.userBtn {
    color: #fff;
    zoom: 1;
    outline: none;
    cursor: pointer;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    border:1px solid #027dcb;
    background: #027dcb;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.userBtn:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.userBtn:active {
    position: relative;
    top: 1px;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
    background: -moz-linear-gradient(top,  #0078a5,  #00adee);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}
/*公共表单样式*/
.sdcm-from{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px 5px 0;
}
.sdcm-col{
    float: left;
    position: relative;
    padding: 12px 0 5px 0
}
.sdcm-col-6{
    width: 50%;
}
.sdcm-col-12{
    width: 100%;
}
.sdcm-col-title{
    position: absolute;
    top: 7px;
    left: 0;
    box-sizing: border-box;
    padding-right: 10px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    letter-spacing:2px;
    color: #325074;
}
.sdcm-line{
    line-height: 20px;
}
.sdcm-col-title p{
    color: red;
    display: inline-block;
    font-family: 宋体;
}
.sdcm-col-input{
    width: calc(100% - 100px);
    margin-left: 100px;
    box-sizing: border-box;
    height: 20px;
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid #d8dee5;
    font-size: 12px;
    color: #6a6288;
}
.sdcm-col-control{
    width: calc(100% - 100px);
    margin-left: 100px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #6a6288;
    border-color: #d8dee5;
}
.sdcm-col-control:focus{
    outline:none;
}
.sdcm-col-input:focus{
    outline:none;
}
.sdcm-col-select{
    width: calc(100% - 100px);
    margin-left: 100px;
    height: 31px;
    border:none;
    border-bottom: 1px solid #d8dee5;
    font-size: 12px;
    color: #6a6288;
    cursor: pointer;
}
.sdcm-col-select:focus{
    outline:none;
}
/*表单验证提示通用样式*/
.sdcm-file-error-info{
    position: absolute;
    left: 100px;
    width: calc(100% - 100px);
    font-size: 0;
}
.sdcm-file-error-info-i{
    color: #ff1515;
    font-size: 8px !important;
}
.sdcm-file-error-info-p{
    display: inline-block;
    color: #ff5d5d;
    font-size: 10px;
    margin-left: 10px;
    vertical-align: top;
}
.sdcm-col .sdcm-file-error{
    background-color: #ffdbdb;
    border-color: #ffa5a5
}
/*时间插件*/
.sdcm-input-wdatepicker{
    background: url("../../images/datepicker_icon.png") right 0 no-repeat;
}