<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<!--模板-->
<script type="text/javascript" th:src="@{/plugin/art-template/art-template.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/global/commonB.css}"/>
<body>
<div class="main">
    <div class="top-content">
        <div class="search">
            <div class="top-search">
                <i class="iconfont icon-search"></i>
                <i class="iconfont icon-down-trangle-copy-copy-copy"></i>
            </div>
            <div class="search-content">
                <div class="search-details">
                    <label for="name">角色姓名&nbsp;:</label>
                    <input class="userInput" autocomplete="off" type="text" id="name">
                </div>
                <div class="search-details">
                    <label for="code">角色编号&nbsp;:</label>
                    <input class="userInput" autocomplete="off" type="text" id="code">
                </div>
                <div class="search-btn">
                    <button class="userBtn">查询</button>
                </div>
            </div>
        </div>
        <div class="sdcm-list">
            <div class="sdcm-allDelete sdcm-use"><i class="iconfont icon-shanchu"></i>&nbsp;批量删除</div>
            <div class="sdcm-add sdcm-use"><i class="iconfont icon-icon_add"></i>&nbsp;新增</div>
        </div>
    </div>
    <div class="bottom-content">
        <div class="gird-data">
            <div class="gird-head">
                <!--<div class="head-data"></div>-->
                <!--<div class="head-data">序号</div>-->
                <!--<div class="head-data">角色姓名</div>-->
                <!--<div class="head-data">角色状态</div>-->
                <!--<div class="head-data">角色备注</div>-->
                <!--<div class="head-data">创建人</div>-->
                <!--<div class="head-data">创建时间</div>-->
                <!--<div class="head-data">操作</div>-->
            </div>
            <div class="girdBox">
                <div class="gird-body">
                    <!--<div class="gird-col">-->
                    <!--<div class="body-data"><input class="girdCheck" type="checkbox"/></div>-->
                    <!--<div class="body-data">序号</div>-->
                    <!--<div class="body-data">角色姓名</div>-->
                    <!--<div class="body-data">角色状态</div>-->
                    <!--<div class="body-data">角色备注</div>-->
                    <!--<div class="body-data">创建人</div>-->
                    <!--<div class="body-data">创建时间</div>-->
                    <!--<div class="body-data">编辑</div>-->
                    <!--<div class="body-data">删除</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="rolePaginbar">
            <div class="girdSize">
                共<span class="pageNum">0</span>页，<span class="total">0</span>条记录，每页显示
                <select type="select" class="girdSelect">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15" selected="selected">15</option>
                    <option value="20">20</option>
                </select>
                行
            </div>
            <div class="paginbar" id="rolePaginbar">

            </div>
        </div>
    </div>
</div>
</body>
<script id="gird-head-view" type="text/html">
    {{each headData}}
    <div class="head-data" style="width:{{$value.width}}">{{if $value.name}} {{$value.name}} {{else}} <input
            class="allCheck girdCheck" type="checkbox"/> {{/if}}
    </div>
    {{/each}}
</script>
<script id="gird-body-view" type="text/html">
    {{set data = bodyData.list}}
    {{set width=bodyData.width}}
    {{each data}}
    <% var time = $imports.parseDate($value.createTime) %>
    <div class="gird-col" data-id="{{$value.id}}">
        <div class="body-data" style="width:{{width[0].width}}"><input class="check girdCheck" type="checkbox"/></div>
        <div class="body-data" style="width:{{width[1].width}}">{{$index+1}}</div>
        <div class="body-data" title="{{$value.name}}" style="width:{{width[2].width}}">{{$value.name}}</div>
        <div class="body-data" title="{{$value.enable}}" style="width:{{width[3].width}}">{{$value.enable}}</div>
        <div class="body-data" title="{{$value.remark}}" style="width:{{width[4].width}}">{{$value.remark}}</div>
        <div class="body-data" title="{{$value.level}}" style="width:{{width[5].width}}">{{$value.level}}</div>
        <div class="body-data" title="<%=time %>" style="width:{{width[6].width}}"><%=time %></div>
        <div class="body-data sdcm-edit" style="width:{{width[5].width}};color: #2678ff;">编辑</div>
        <div class="body-data sdcm-delete" style="width:{{width[5].width}};color: #ff0004;">删除</div>
    </div>
    {{/each}}
</script>
<script type="text/javascript" th:src="@{/js/system/jbsz/menuRole/menuRole.js}"></script>
<div th:include="/common/footer :: footer"></div>
</html>