* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑"
}

/*header*****头部*/
.header {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 770px;
    background: url("../img/bigBg.jpg") no-repeat;
    background-size: cover;
}

.header > div {
    width: 100%;
    height: 510px;
}

.headerDesUp {
    position: relative;
    margin: 50px auto 0;
    width: 500px;
    height: 100px;
    font-weight: bolder;
    color: #f4d03f;
    font-size: 50px;
}

.headerDesDown {
    position: relative;
    margin: 20px auto 0;
    width: 350px;
    height: 100px;
    font-weight: bold;
    color: #dddddd;
    font-size: 30px;
}

@keyframes moveWord {
    0% {
        transform: translate(0, 0)
    }
    4% {
        transform: translate(0, -100px)
    }
    8% {
        transform: translate(0, 0)
    }
    12% {
        transform: translate(0, -50px)
    }
    16% {
        transform: translate(0, 0)
    }
    20% {
        transform: translate(0, -20px)
    }
    24% {
        transform: translate(0, 0)
    }
    28% {
        transform: translate(0, -10px)
    }
    32% {
        transform: translate(0, 0)
    }
    70% {
        transform: translate(0, 0)
    }
    80%, 90% {
        transform: rotate3d(0, 0, 1, 80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out
    }
    85%, 95% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, 700px, 0);
        transform: translate3d(0, 700px, 0);
        opacity: 0
    }
}

@-webkit-keyframes moveWord {
    0% {
        transform: translate(0, 0)
    }
    4% {
        transform: translate(0, -100px)
    }
    8% {
        transform: translate(0, 0)
    }
    12% {
        transform: translate(0, -50px)
    }
    16% {
        transform: translate(0, 0)
    }
    20% {
        transform: translate(0, -20px)
    }
    24% {
        transform: translate(0, 0)
    }
    28% {
        transform: translate(0, -10px)
    }
    32% {
        transform: translate(0, 0)
    }
    70% {
        transform: translate(0, 0)
    }
    80%, 90% {
        transform: rotate3d(0, 0, 1, 80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out
    }
    85%, 95% {
        -webkit-transform: rotate3d(0, 0, 1, 60deg);
        transform: rotate3d(0, 0, 1, 60deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, 700px, 0);
        transform: translate3d(0, 700px, 0);
        opacity: 0
    }
}

.headerDesUp span {
    position: absolute;
}

.headerDesDown span {
    position: absolute;
}

/*第一行字*/
.headerDesUp span:nth-child(1) {
    top: 0;
    left: 0;
    color: white;
    animation: moveWord 7s infinite 1s;
}

.headerDesUp span:nth-child(2) {
    top: 0;
    left: 62px;
    color: white;
    animation: moveWord 7s infinite 1.1s;
}

.headerDesUp span:nth-child(3) {
    top: 0;
    left: 124px;
    animation: moveWord 7s infinite 1.2s;
}

.headerDesUp span:nth-child(4) {
    top: 0;
    left: 186px;
    animation: moveWord 7s infinite 1.3s;
}

.headerDesUp span:nth-child(5) {
    top: 0;
    left: 248px;
    animation: moveWord 7s infinite 1.4s;
}

.headerDesUp span:nth-child(6) {
    top: 0;
    left: 310px;
    animation: moveWord 7s infinite 1.5s;
}

.headerDesUp span:nth-child(7) {
    top: 0;
    left: 372px;
    animation: moveWord 7s infinite 1.6s;
}

.headerDesUp span:nth-child(8) {
    top: 0;
    left: 434px;
    animation: moveWord 7s infinite 1.7s;
}

/*第二行字*/
.headerDesDown span:nth-child(1) {
    top: 0;
    left: 0;
    animation: moveWord 7s infinite 1.8s;
}

.headerDesDown span:nth-child(2) {
    top: 0;
    left: 38px;
    animation: moveWord 7s infinite 1.9s;
}

.headerDesDown span:nth-child(3) {
    top: 0;
    left: 76px;
    animation: moveWord 7s infinite 2s;
}

.headerDesDown span:nth-child(4) {
    top: 0;
    left: 114px;
    animation: moveWord 7s infinite 2.1s;
}

.headerDesDown span:nth-child(5) {
    top: 0;
    left: 152px;
    animation: moveWord 7s infinite 2.2s;
}

.headerDesDown span:nth-child(6) {
    top: 0;
    left: 190px;
    animation: moveWord 7s infinite 2.3s;
}

.headerDesDown span:nth-child(7) {
    top: 0;
    left: 228px;
    animation: moveWord 7s infinite 2.4s;
}

.headerDesDown span:nth-child(8) {
    top: 0;
    left: 266px;
    animation: moveWord 7s infinite 2.5s;
}

.headerDesDown span:nth-child(9) {
    top: 0;
    left: 304px;
    animation: moveWord 7s infinite 2.6s;
}

/*文字下面的*/
.faceDown {
    margin-top: 50px;
}

.faceDown div {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url("../img/xiangxia.png") no-repeat rgba(221, 221, 221, 0.3) center;
}

/*nav**导航***/
.nav {
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 80px;
}

.nav > div {
    float: left;
    width: 50%;
    height: 100%;
}

.nav div:nth-child(1) {
}

.nav div:nth-child(1) p {
    margin: 20px auto 0;
    width: 130px;
    font-size: 20px;
    color: white;
    animation: flip 6s infinite;
}

@keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -ms-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    }
    10% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -ms-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    }
    15% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -ms-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    }
    20% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        -ms-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
    }
    25% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px);
    }
    100% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@-webkit-keyframes flip {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -ms-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    }
    10% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -ms-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    }
    15% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -ms-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    }
    20% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        -ms-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
    }
    25% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px);
    }
    100% {
        -webkit-transform: perspective(400px);
        -ms-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.nav_list li {
    position: relative;
    float: left;
    width: 90px;
    margin-top: 20px;
    list-style: none;
}

.nav_list li a {
    position: absolute;
    top: 0;
    color: white;
}

@keyframes moveTopDow {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@-webkit-keyframes moveTopDow {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    30% {
        -webkit-transform: scale3d(1.25, .75, 1);
        transform: scale3d(1.25, .75, 1)
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1)
    }
    50% {
        -webkit-transform: scale3d(1.15, .85, 1);
        transform: scale3d(1.15, .85, 1)
    }
    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1)
    }
    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1)
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

/*mainData**基本资料***/
#mainData {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom, #6f7275, #31353a);
}

#mainData > div:nth-child(1) {
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: #dddddd;
}

#mainData > div:nth-child(1) hr {
    margin: 10px auto 0;
    width: 70px;
    border: none;
    border-top: 7px solid #f4d03f;
}

@keyframes zoomOutDown {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

@-webkit-keyframes zoomOutDown {
    40% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(0.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(0.175, .885, .32, 1)
    }
}

#mainData > div:nth-child(2) > div {
    position: absolute;
}

.myData {
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #6f7275, #31353a);
}

.myRecord {
    top: 0;
    left: 25%;
    width: 25%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #6f7275, #31353a);
}

.myschool {
    top: 0;
    left: 50%;
    width: 25%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #6f7275, #31353a);
}

.myPhone {
    top: 0;
    left: 75%;
    width: 25%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #6f7275, #31353a);
}

.myData > div:nth-child(1) {
    margin: 150px auto 0;
    width: 90px;
    height: 90px;
    background: url("../img/myData.png") no-repeat;
}

.myRecord > div:nth-child(1) {
    margin: 150px auto 0;
    width: 90px;
    height: 90px;
    background: url("../img/myRecord.png") no-repeat;
}

.myschool > div:nth-child(1) {
    margin: 150px auto 0;
    width: 90px;
    height: 90px;
    background: url("../img/mySchool.png") no-repeat;
}

.myPhone > div:nth-child(1) {
    margin: 150px auto 0;
    width: 90px;
    height: 90px;
    background: url("../img/myPhone.png") no-repeat;
}

.myBlack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.myBlack div {
    position: absolute;
    top: 400px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 70px;
    background: black;
    opacity: 0.3;
}

/*工作经历*/
#myWork {
    overflow: hidden;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to top, #cccccc, #f9f9f9);
}

#myWork div:nth-child(1) {
    margin-top: 50px;
    width: 100%;
    height: 100px;
    text-align: center;
}

#myWork div:nth-child(1) p {
    font-size: 35px;
    color: black;
}

#myWork div:nth-child(1) p span {
    font-weight: bolder;
}

#myWork div:nth-child(1) hr {
    margin: 10px auto 0;
    width: 70px;
    border: none;
    border-top: 7px solid #f4d03f;
}

#myWork div:nth-child(2) {
    width: 100%;
    height: 140px;
}

#myWork div:nth-child(2) img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid #cccccc;
}

#myWork div:nth-child(2) img:hover {
    border: 10px solid #f4d03f;
}

#myWork div:nth-child(3) {
    width: 100%;
    height: 100px;
    text-align: center;
}

#myWork div:nth-child(4) {
    width: 100%;
    height: 150px;
}

#myWork div:nth-child(4) p {
    margin: 0 auto;
    width: 600px;
    height: 100px;

}

/*  专业技能*/
#mySkill {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 550px;
    background: #f4d03f;
}

.skillNav {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
}

.skillNav p {
    font-size: 35px;
    color: black;
}

.skillNav p span {
    font-weight: bolder;
}

.skillNav hr {
    margin: 10px auto 0;
    width: 70px;
    border: none;
    border-top: 7px solid #f7dc6f;
}

.skillPic {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 430px;
}

.skillPic > div:nth-child(1) {
    position: absolute;
    width: 50%;
}

.skillPic > div:nth-child(2) {
    position: absolute;
    left: 50%;
    width: 50%;
}

.skillPic > div:nth-child(1) img {
    position: absolute;
    top: 0;
    right: 0;
    width: 450px;
    height: 360px;
}

.skillPic > div > p {
    margin: 20px 0 0 20px;
    width: 100%;
    font-size: 14px;
}

/*波浪图*/
.wavePic {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.wavePic img {
    position: absolute;
    z-index: 10;
}

.wavePic img:nth-child(1) {
    left: 0;
    opacity: 0.7;
    animation: wavePicS 5s infinite;
}

.wavePic img:nth-child(2) {
    right: 0;
    opacity: 0.5;
    animation: wavePicR 6s infinite;
}

.wavePic img:nth-child(3) {
    left: 0;
    opacity: 0.3;
    animation: wavePicS 7s infinite;
}

.wavePic img:nth-child(4) {
    right: 0;
    opacity: 0.1;
    animation: wavePicR 8s infinite;
}

@keyframes wavePicS {
    0% {
        left: 0
    }
    100% {
        left: -100%
    }
}
@-webkit-keyframes wavePicS {
    0% {
        left: 0
    }
    100% {
        left: -100%
    }
}
@keyframes wavePicR {
    0% {
        right: 0
    }
    100% {
        right: -100%
    }
}
@-webkit-keyframes wavePicR{
    0% {
        right: 0
    }
    100% {
        right: -100%
    }
}
/*项目经验*/
#myProject {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to top, #cccccc, #f9f9f9);

}

.myProNav {
    margin-top: 20px;
    width: 100%;
    height: 150px;
    text-align: center;
}

.myProNav p:nth-child(1) {
    font-size: 35px;
    color: black;
}

.myProNav p:nth-child(1) span {
    font-weight: bolder;
}

.myProNav hr {
    margin: 10px auto 0;
    width: 70px;
    border: none;
    border-top: 7px solid #f7dc6f;
}

.myProNav p:nth-child(3) {
    margin-top: 20px;
}

.projectShow {
    width: 100%;
    height: 50px;
}

.projectNav {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    text-align: center;
    list-style: none;
}

.projectNav li {
    float: left;
    width: 96px;
    border-right: 2px solid black;
    cursor: pointer;
}
.projectNav li:hover{
    background:#f7dc6f;
}
.projectNav li.addColor{
    background:#f7dc6f;
}

.projectNav li:last-child {
    border-right: none;
}
.projectImg{
    width: 100%;
    height:380px;
}
.projectImg ul{
    margin: 0 auto;
    width: 1130px;
    height: 380px;
}
.projectImg ul li{
    position: relative;
    float: left;
    margin-left: 20px;
    width: 350px;
    height: 350px;
    border: 2px solid black;
    list-style: none;
}
.proImg{
    position: absolute;
    top:0;
    left: 0;
    width: 350px;
    height: 350px;
}
.proFilm{
    position: absolute;
    z-index:10;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
    background: rgba(0,0,0,0);
}
.proFilm>div{
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 100px;
    opacity: 0;
}
.proFilm>div p{
    font-weight: bolder;
    color:#f9f9f9 ;
    padding-bottom: 20px;
}
@keyframes bounceInDown {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        -ms-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        -ms-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        -ms-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        -ms-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
@-webkit-keyframes bounceInDown {
    0%, 100%, 60%, 75%, 90% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        -ms-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        -ms-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0)
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        -ms-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        -ms-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
@keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        -ms-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        -ms-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }
}
@-webkit-keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        -ms-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0)
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        -ms-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        -ms-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0)
    }
}
@media screen and (max-width: 960px) {

}