@media screen and (max-width: 960px) {
    /*nav**导航***/
    .nav {
        width: 10rem;
        height: 1.8rem;
        background: black;
    }
    .nav>div{
        float: none;
        width: 10rem;
        height: 0.9rem;
        line-height: 0.9rem;
    }

    .nav div:nth-child(1) p {
        margin:0 auto;
        width: 3rem;
        font-size: .4em;
        color: white;
    }
    .nav_list li{
        margin-top: 0;
        width: 2rem;
        height: 0.9rem;
        font-size:.4em;
    }
    .nav_list li a{
        margin-left: .2rem;
    }
    /*header*****头部*/
    .header {
        width: 10rem;
        height: 17.75rem;
    }

    .header > div {
        width: 100%;
        height: 12rem;
    }

    .headerDesUp {
        margin: 1.7rem auto 0;
        width: 8.8rem;
        height: 1rem;
        font-size: 1em;
    }

    .headerDesDown {
        margin: 1.2rem auto 0;
        width: 7.2rem;
        height: .8rem;
        font-weight: bold;
        color: #dddddd;
        font-size: .7em;
    }
    /*第一行字*/
    .headerDesUp span:nth-child(2) {
        left: 1.1rem;
    }

    .headerDesUp span:nth-child(3) {
        left: 2.2rem;
    }

    .headerDesUp span:nth-child(4) {
        left: 3.3rem;
    }

    .headerDesUp span:nth-child(5) {
        left: 4.4rem;
    }

    .headerDesUp span:nth-child(6) {
        left: 5.5rem;
    }

    .headerDesUp span:nth-child(7) {
        left: 6.6rem;
    }

    .headerDesUp span:nth-child(8) {
        left: 7.7rem;
    }

    /*第二行字*/
    .headerDesDown span:nth-child(2) {
        left: .8rem;
    }

    .headerDesDown span:nth-child(3) {
        left: 1.6rem;
    }

    .headerDesDown span:nth-child(4) {
        left: 2.4rem;
    }

    .headerDesDown span:nth-child(5) {
        left: 3.2rem;
    }

    .headerDesDown span:nth-child(6) {
        left: 4rem;
    }

    .headerDesDown span:nth-child(7) {
        left: 4.8rem;
    }

    .headerDesDown span:nth-child(8) {
        left: 5.6rem;
    }

    .headerDesDown span:nth-child(9) {
        left: 6.4rem;
    }

    /*文字下面的*/
    .faceDown {
        margin-top: 2rem;
    }

    .faceDown div {
        width: 2.5rem;
        height: 2.5rem;
    }

    /*mainData**基本资料***/
    #mainData {
        width: 10rem;
        height: 36rem;
        background-image: linear-gradient(to bottom, #6f7275, #31353a);
    }

    #mainData > div:nth-child(1) {
        top: 1rem;;
        left: 50%;
        margin-left: -2.25rem;
        width: 4.5rem;
        height: 2rem;
        line-height: 1.4rem;
        font-size: .9em;
    }

    #mainData > div:nth-child(1) hr {
        margin: .3rem auto 0;
        width: 2rem;
        border-top: .2rem solid #f4d03f;
    }

    .myData {
        top: 0;
        left: 0;
        width: 10rem;
        height: 9rem;
    }

    .myRecord {
        top: 9rem;
        left: 0;
        width: 10rem;
        height: 9rem;
    }

    .myschool {
        top: 18rem;
        left: 0;
        width: 10rem;
        height: 9rem;
    }

    .myPhone {
        top: 27rem;
        left: 0;
        width: 10rem;
        height: 9rem;
    }
    .myData > div:nth-child(1) {
        margin: 2rem auto 0;
        width: 2.8rem;
        height: 2.8rem;
    }

    .myRecord > div:nth-child(1) {
        margin: 2rem auto 0;
        width: 2.8rem;
        height: 2.8rem;
    }

    .myschool > div:nth-child(1) {
        margin: 2rem auto 0;
        width: 2.8rem;
        height: 2.8rem;
    }

    .myPhone > div:nth-child(1) {
        margin: 2rem auto 0;
        width: 2.8rem;
        height: 2.8rem;
    }
    .myMainData>div:nth-child(1).myData>div:nth-child(1){
        margin: 3rem auto 0;
        width: 2.8rem;
        height: 2.8rem;
    }
    .myMainData>div p{
        font-size: .7em;
    }
    .myBlack {
        display: none;
    }
    /*工作经历*/
    #myWork {
        width: 10rem;
        height: 13rem;
    }
    #myWork div:nth-child(1) {
        margin-top: 1rem;
        width: 10rem;
        height: 2rem;
    }

    #myWork div:nth-child(1) p {
        font-size: .9em;
    }


    #myWork div:nth-child(1) hr {
        margin: .3rem auto 0;
        width: 2rem;
        border-top: .2rem solid #f4d03f;
    }

    #myWork div:nth-child(2) {
        width: 10rem;
        height: 4rem;
    }

    #myWork div:nth-child(2) img {
        border: .3rem solid #cccccc;
    }

    #myWork div:nth-child(2) img:hover {
        border: .3rem solid #f4d03f;
    }

    #myWork div:nth-child(3) {
        width: 10rem;
        height: 2rem;
    }
    #myWork div:nth-child(3) p{
        margin-top: .3rem;
        font-size: .4em;
    }
    #myWork div:nth-child(4) {
        width: 10rem;
        height: 2rem;
    }

    #myWork div:nth-child(4) p {
        margin: 0 auto;
        width: 9rem;
        height: 3rem;
        font-size: .4em;
        text-indent: .8em;
    }
    /*  专业技能*/
    #mySkill {
        width: 10rem;
        height: 22rem;
    }

    .skillNav {
        margin-top: 1rem;
        width: 10rem;
        height: 2rem;
    }

    .skillNav p {
        font-size: .9em;
    }

    .skillNav hr {
        margin: .3rem auto 0;
        width: 2rem;
        border-top: .2rem solid #f7dc6f;
    }

    .skillPic {
        position: relative;
        margin: 0 auto;
        width: 10rem;
        height: 19rem;
    }

    .skillPic > div:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        width: 10rem;
    }

    .skillPic > div:nth-child(2) {
        position: absolute;
        left: 0;
        top: 7rem;
        width: 10rem;
    }

    .skillPic > div:nth-child(1) img {
        position: absolute;
        top: 0;
        right: 0;
        width: 9rem;
        height: 7rem;
    }

    .skillPic > div > p {
        margin: .5rem 0 0 0.5rem;
        width: 9rem;
        font-size: .4em;
    }

    /*波浪图*/
    .wavePic {
        display: none;
    }


    /*项目经验*/
    #myProject {
        width: 10rem;
    }

    .myProNav {
        margin-top: 1rem;
        width: 10rem;
        height: 4.5em;
    }

    .myProNav p:nth-child(1) {
        font-size: .9em;
    }

    .myProNav hr {
        margin: .3rem auto 0;
        width: 2rem;
        border-top: .2rem solid #f7dc6f;
    }

    .myProNav p:nth-child(3) {
        width: 9rem;
        margin:.2rem 0 0 .5rem;
        font-size: .5rem;
    }

    .projectShow {
        width: 10rem;
    }

    .projectNav {
        width: 9rem;
        height: 1rem;
    }

    .projectNav li {
        width: 2.9rem;
        border-right: .06rem solid black;
        cursor: pointer;
        font-size: 18px;
    }
    .projectImg{
        width: 10rem;
    }
    .projectImg ul{
        width: 10rem;
    }
    .projectImg ul li{
        float: none;
        margin: .3rem 0 0 .5rem;
        width: 9rem;
        height: 9rem;
        border: .06rem solid black;
    }
    .proImg{
        position: absolute;
        width: 9rem;
        height: 9rem;
    }
    .proFilm{
        display: none;
    }
    .proBlank{
        width: 10rem;
        height: .8rem;
    }
    /*自我评价*/
    #myEva{
        overflow: hidden;
        width: 100%;
        height: 14rem;
    }
    .myEvaNav {
        margin-top: 1rem;
        width: 10rem;
        height: 3rem;
    }

    .myEvaNav p:nth-child(1) {
        font-size: .9em;
    }

    .myEvaNav hr {
        margin: .3rem auto 0;
        width: 2rem;
        border-top: .2rem solid #f7dc6f;
    }
    /*轮播*/
    .myEvaShow{
        width: 9rem;
        height: 5rem;
    }
    .myEvaShow ul{
        width: 50rem;
        height: 3rem;;
    }
    .myEvaShow ul li{
        width: 9rem;
        height: 3rem;
    }
    .myEvaShow ul li p{
        font-size: .5em;
        line-height: 1.2rem;
    }
    .myEvaBtn{
        margin: 1.56rem auto 0;
        width: 3.75rem;
        height: .7rem;
    }
    .myEvaBtn li{
        width: 1.25rem;
        height: .7rem;
    }
    .myEvaBtn li span{
        width: .7rem;
        height: .7rem;
    }
    /*底部*/
    .footer{
        width: 10rem;
        height: 1.5rem;
    }
    .footer p{
        line-height: 1.5rem;
        font-size: .375em;
    }
}