<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" type="text/css" th:href="@{/plugin/jfGrid/jfgrid.css}"/>
<script type="text/javascript" th:src="@{/plugin/jfGrid/jfgrid.js}"></script>
<!-- 树形结构 -->
<link rel="stylesheet" type="text/css" th:href="@{/plugin/tree/lr-tree.css}"/>
<script type="text/javascript" th:src="@{/plugin/tree/lr-tree.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/global/commonA.css}"/>
<body>
<div class="main">
    <div class="left-content">
        <div class="left-title">功能目录</div>
        <div class="left-details"></div>
    </div>
    <div class="move"></div>
    <div class="right-content">
        <div class="right-title">
            <span>功能信息 - </span>
            <span class="titleinfo">根菜单</span>
        </div>
        <div class="edit">
            <div class="edit-search">
                <input class="userInput" autocomplete="off" type="text" placeholder="请输入名称">
                <button class="userBtn"><i class="iconfont icon-sousuosearch82 iconfontSdcm"></i>&nbsp;查询</button>
            </div>
            <div class="edit-function">
                <div class="sdcm-refresh">
                    <i class="iconfont icon-shuaxin iconfontSdcm"></i>
                </div>
                <div class="sdcm-list">
                    <div class="sdcm-add"><i class="iconfont icon-xinzeng-copy iconfontSdcm"></i>&nbsp;新增</div>
                    <div class="sdcm-edit"><i class="iconfont icon-iconfontxiugai3fuzhieps iconfontSdcm"></i>&nbsp;编辑</div>
                    <div class="sdcm-delete"><i class="iconfont icon-shanchu1 iconfontSdcm"></i>&nbsp;删除</div>
                </div>
            </div>
        </div>
        <div class="right-details"></div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/system/jbsz/unit/unit.js}"></script>
<div th:include="/common/footer :: footer"></div>
</body>

</html>