<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<!--模板-->
<script type="text/javascript" th:src="@{/plugin/art-template/art-template.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/global/commonC.css}"/>
<body>
<div class="search">
    <div class="edit-search">
        <div class="search-con">
            <div class="search-tit" style="margin-left: 20px;">警察编号:</div>
            <input class="search-input code" autocomplete="off" spellcheck="false" type="text">
        </div>
        <div class="search-con">
            <div class="search-tit" style="margin-left: 20px;">姓&nbsp&nbsp&nbsp名:</div>
            <input class="search-input name" autocomplete="off" spellcheck="false" type="text">
        </div>
        <!--搜索按钮-->
        <div class="search-btn">
            <button class="resetBtn" id="reset">重置</button>
            <button class="queryBtn" id="query">查询</button>
        </div>
        <!--下拉选-->
        <div class="dropDown">
            <i class="iconfont icon-down-trangle-copy-copy-copy"></i>
        </div>
    </div>
    <div class="edit-search dropBlack" style="margin-top: 2px;display: none;">
        <div class="search-con">
            <div class="search-tit" style="margin-left: 20px;">人员类型:</div>
            <input class="search-input typeid" autocomplete="off" spellcheck="false" type="text">
        </div>
        <div class="search-con">
            <div class="search-tit" style="margin-left: 20px;">人员状态:</div>
            <input class="search-input status" autocomplete="off" spellcheck="false" type="text">
        </div>
        <div class="search-con">
            <div class="search-tit" style="margin-left: 20px;">所属部门:</div>
            <input class="search-input syoufk" autocomplete="off" spellcheck="false" type="text">
        </div>
        <div class="search-con">
            <div class="search-tit" style="margin-left: 20px;">职&nbsp&nbsp&nbsp务:</div>
            <input class="search-input dutyid" autocomplete="off" spellcheck="false" type="text">
        </div>
    </div>
</div>
<div class="edit-gird">
    <div class="top-content">
        <div class="sdcm-list">
            <div class="sdcm-allDelete sdcm-use"><i class="iconfont icon-shanchu"></i>&nbsp;批量删除</div>
            <div class="sdcm-add sdcm-use"><i class="iconfont icon-icon_add"></i>&nbsp;新增</div>
        </div>
    </div>
    <div class="bottom-content">
        <div class="gird-data">
            <div class="gird-head">
            </div>
            <div class="girdBox">
                <div class="gird-body">
                </div>
            </div>
        </div>
        <div class="rolePaginbar">
            <div class="girdSize">
                共<span class="pageNum">0</span>页，<span class="total">0</span>条记录，每页显示
                <select type="select" class="girdSelect">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15" selected="selected">15</option>
                    <option value="20">20</option>
                </select>
                行
            </div>
            <div class="paginbar" id="rolePaginbar">
            </div>
        </div>
    </div>
</div>
</body>
<script id="gird-head-view" type="text/html">
    {{each headData}}
    <div class="head-data" style="width:{{$value.width}}">
        {{if $value.name}}
        {{$value.name}}
        {{else}}
        <input class="allCheck girdCheck" type="checkbox"/>
        {{/if}}
    </div>
    {{/each}}
</script>
<script id="gird-body-view" type="text/html">
    {{set data = bodyData.list}}
    {{set width=bodyData.width}}
    {{set readOnly=bodyData.readOnly;}}
    {{each data}}
    <div class="gird-col" data-id="{{$value.id}}">
        {{if readOnly==="0"}}
        <div class="body-data" style="width:{{width[0].width}}"><input class="check girdCheck" type="checkbox"/></div>
        <div class="body-data" style="width:{{width[1].width}}">{{$index+1}}</div>
        <div class="body-data" title="{{$value.code}}" style="width:{{width[2].width}}">{{$value.code}}</div>
        <div class="body-data" title="{{$value.name}}" style="width:{{width[3].width}}">{{$value.name}}</div>
        <div class="body-data" title="{{$value.typeid}}" style="width:{{width[4].width}}">{{$value.typeid}}</div>
        <div class="body-data" title="{{$value.status}}" style="width:{{width[5].width}}">{{$value.status}}</div>
        <div class="body-data" title="{{$value.syoufk}}" style="width:{{width[6].width}}">{{$value.syoufk}}</div>
        <div class="body-data" title="{{$value.dutyid}}" style="width:{{width[7].width}}">{{$value.dutyid}}</div>
        <div class="body-data sdcm-look" style="width:7%;;color: #d9a501;">
            查看
        </div>
        <div class="body-data sdcm-edit" style="width:7%;color: #2678ff;">
            编辑
        </div>
        <div class="body-data sdcm-delete" style="width:7%;;color: #ff0004;">
            删除
        </div>
        {{else if readOnly==="1"}}
        <div class="body-data" style="width:{{width[0].width}}">{{$index+1}}</div>
        <div class="body-data" title="{{$value.code}}" style="width:{{width[1].width}}">{{$value.code}}</div>
        <div class="body-data" title="{{$value.name}}" style="width:{{width[2].width}}">{{$value.name}}</div>
        <div class="body-data" title="{{$value.typeid}}" style="width:{{width[3].width}}">{{$value.typeid}}</div>
        <div class="body-data" title="{{$value.status}}" style="width:{{width[4].width}}">{{$value.status}}</div>
        <div class="body-data" title="{{$value.syoufk}}" style="width:{{width[5].width}}">{{$value.syoufk}}</div>
        <div class="body-data" title="{{$value.dutyid}}" style="width:{{width[6].width}}">{{$value.dutyid}}</div>
        <div class="body-data sdcm-look" style="width:21%;;color: #d9a501;">
            查看
        </div>
        {{/if}}
    </div>
    {{/each}}
</script>
<script type="text/javascript" th:src="@{/js/service-jingchadn/gwryjbxx/jcjbxx/jbxx.js}"></script>
<div th:include="/common/footer :: footer"></div>
</html>