.son-item:hover,.son-item.active{
    background-color:rgba(241,203,45,.05);
}
.report-item:hover,.report-item.active{
    background-color:rgba(241,203,45,.05);
}

.report-item{
    /*border-bottom: dashed 1px #bdbdbd;*/
    height: 41px;
    /*padding-left: 41px;*/
    line-height: 41px;
    position: relative;
}
.report-item span{
    margin-left: 41px;
}
.report-item.active{
    border-left:2px solid transparent;
}
.report-item .r-type{
    position:absolute;
    top:12px;
    left:20px;
}
.report-item  .r-close{
    float: right;
    margin: 14px 20px 0 0;
    cursor:pointer;
    opacity: 0.4;
}
.report-item  .r-close:hover{
    opacity: 1;
}

.r-content{
    float: left;
    position: relative;
    width: 1312px;
    height: 976px;
    border: 1px solid #a4b0bc;
    border-radius: 4px;
}
.downArea button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #fbd22c;
    color: #ffffff;
    background: transparent;
    line-height: 28px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.downArea button img{
   position: relative;
    top:3px;
    margin-right: 5px;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

.line{
    height: 0;
    border-bottom: dashed 1px #bdbdbd;
    margin: 0 10px;
}
.line-thin{
    border-bottom: dashed 1px #2c4050;
    height: 0;
    margin: 0 10px;
}

.r-info h2{
    text-align: center;
}
.r-info h2{
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    margin-bottom: 20px;
}
.r-info{
    padding: 0 160px;
}
.r-info p{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    line-height: 34px;
    text-indent: 2em;
}


.lsfx{
    height: 100%;
}
.s-title{
    height:40px;
    line-height:40px;
    padding-left:20px;
    border-bottom:1px solid #bdbdbd;
}
.s-title .s-span{
    color:#fbd22c;
    font-size: 16px;
}
.list{
    float: left;
    position: relative;
    width: 300px;
    height: 976px;
    border: 1px solid #a4b0bc;
    border-radius: 4px;
}
.s-margin{
    margin-left:2px;
    box-sizing: border-box;
}
.s-color{
    background:rgba(0,0,0,0.3)
}
.unit{
    height: 41px;
    text-align: center;
    line-height: 41px;
    position: relative;
    /*border-bottom: dashed 1px #bdbdbd;*/
}
.unit.active{
    border-left:2px solid #f1cb2d;
}
.unit span{
    font-size: 16px;
}
.unit i{
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('../../../../assets/lsfx/icon-4.png') no-repeat;
    top:9px;
    left:21px;
}
.unit i.icon-2{
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('../../../../assets/lsfx/icon-1.png') no-repeat;
    top:9px;
    left:21px;
}
.unit i.icon-3{
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('../../../../assets/lsfx/icon-5.png') no-repeat;
    top:9px;
    left:21px;
}
.unit i.icon-4{
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url('../../../../assets/lsfx/icon-3.png') no-repeat;
    top:9px;
    left:21px;
}

.unit b{
    display: block;
    position: absolute;
    width: 8px;
    height: 14px;
    background: url('../../../../assets/lsfx/arrow-2.png') no-repeat;
    top:11px;
    right:11px;
}
.unit.active,.unit:hover{
    background-color:rgba(241,203,45,.14);
    cursor:pointer;
}
.unit.active b{
    display: block;
    position: absolute;
    width: 14px;
    height: 8px;
    background: url('../../../../assets/lsfx/arrow-1.png') no-repeat;
    top:14px;
    right:18px;
}
.son-item{
    /*border-bottom: dashed 1px #2c4050;*/
    height: 41px;
    /*padding-left: 41px;*/
    line-height: 41px;
    position: relative;
}
.son-item span{
    margin-left: 41px;
}
.btnArea{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.btnArea button{
    width: 260px;
    height: 40px;
    background-color: #fbd22c;
    border: none;
    border-radius: 5px;
    color: #fff;
    line-height: 40px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}