<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/firstPage.css}">
</head>
<body>
    <div class="idx" id="mywork">
        <div class="hed">
            <i class="icon-desktop"></i>
            <span >我的工作</span>
        </div>
        <div class="cont"><p>内容。。。</p></div>
    </div>
    <div class="idx" id="pub">
        <div class="hed">
            <i class="glyphicon glyphicon-bullhorn"></i>
            <span>公告内容</span>
        </div>
        <div class="cont"><p>内容。。。</p></div>
    </div>
    <div class="idx" id="mykeep">
        <div class="hed">
            <i class="glyphicon glyphicon-star-empty"></i>
            <span>我的收藏</span>
        </div>
        <div class="cont"><p>内容。。。</p></div>
    </div>

    <div class="idx" id="cnt">
        <div class="hed">
            <i class="glyphicon glyphicon-object-align-bottom"></i>
            <span>部门统计数据</span>
        </div>
        <div class="cont"><p>内容。。。</p></div>
    </div>
    <div class="idx" id="notice">
        <div class="hed">
            <i class="glyphicon glyphicon-bell"></i>
            <span>狱内通知</span>
        </div>
        <div class="cont"><p>内容。。。</p></div>
    </div>
    <div class="idx" id="mymail">
        <div class="hed">
            <i class="glyphicon glyphicon-envelope"></i>
            <span>我的邮箱</span>
        </div>
        <div class="cont"><p>内容。。。</p></div>
    </div>
</body>
</html>