<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- 全局通用资源 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/global/reset.css}"/>
    <script type="text/javascript" th:src="@{/js/global/jquery-3.3.1.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/scroll/jquery.mCustomScrollbar.min.css}"/>
    <script type="text/javascript" th:src="@{/plugin/scroll/jquery.mCustomScrollbar.concat.min.js}"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_719366_6d7866tar0p.css">
    <script>
        $.extend({
            //分页封装
            myPaginbar: function (pagin) {//分页条
                pagin = pagin || {};
                pagin.index = parseInt(pagin.index, 10) || 1;//当前页
                pagin.total = parseInt(pagin.total, 10) || 1;//总页数
                pagin.size = parseInt(pagin.size, 10) || 15;//每页记录数
                pagin.num = parseInt(pagin.num, 10) || 3;
                if (pagin.index > pagin.total) pagin.index = 1;
                if (!pagin.paginbar) return;
                pagin.paginbar = document.getElementById(pagin.paginbar);
                if (!pagin.paginbar) return;
                $(pagin.paginbar).addClass('hide');
                pagin.paginbar.innerHTML = '';
                if (pagin.total < 2) return;
                $(pagin.paginbar).removeClass('hide');

                function createPageLabel(tag, cla, tit, txt, callback) {
                    var obj = document.createElement(tag);
                    obj.className = cla;
                    obj.title = tit;
                    if (tag === 'input') {
                        obj.value = txt;
                    } else {
                        obj.innerHTML = txt;
                    }
                    if (tag === 'a') obj.href = 'javascript:;';
                    pagin.paginbar.appendChild(obj);
                    if (callback) {
                        obj.onclick = function (o, i, s, t) {
                            return function (e) {
                                callback(o, i, s, t);
                            };
                        }(obj, tit, pagin.size, pagin.total);
                    }
                    return obj;
                }

                var pages = [];
                if (pagin.index > 1) {
                    createPageLabel('a', 'start', 1, '首页', pagin.callback);// 起始页
                    createPageLabel('a', 'prev', pagin.index - 1, '<i class="iconfont icon-xiangzuoxiangyou-copy" style="margin-top:10px;font-size: 20px;"></i>', pagin.callback); // 上一页
                }
                if (pagin.total <= 2 * pagin.num + 4) {//小于2*pagin.num页
                    for (var index = 1; index <= pagin.total; index++) {
                        if (index == pagin.index) createPageLabel('b', 'dis', index, index);
                        else createPageLabel('a', '', index, index, pagin.callback);
                    }
                } else {//大于2*pagin.num页
                    var total = Math.min(pagin.index + pagin.num, pagin.total);
                    var index = Math.max(pagin.index - pagin.num, 1);
                    /*
                     * 如果当前页靠近首页，则省略中间页码
                     * 如果当前页靠近尾页，则省略中间页码
                     * 如果当前页在中间，则省略两端页码
                     */
                    var _left = pagin.index < index + pagin.num;
                    var _right = pagin.index > total - pagin.num;
                    var center = (pagin.index >= index + pagin.num) && (pagin.index <= total - pagin.num);
                    //console.log('center',center,pagin.num,pagin.index,index,total)
                    if (center) {
                        if (index > 1) createPageLabel('a', 'ellipsis', index, '...', pagin.callback);
                        for (index; index <= total; index++) {
                            if (index == pagin.index) createPageLabel('b', 'dis', index, index);
                            else createPageLabel('a', '', index, index, pagin.callback);
                        }
                        ;
                        if (total < pagin.total) createPageLabel('a', 'ellipsis', index, '...', pagin.callback);
                    } else {
                        if (_left) total = Math.min(index + 2 * pagin.num, pagin.total);
                        if (_right) index = Math.max(total - 2 * pagin.num, 1);
                        var num = index;
                        //console.log(index,total);
                        if (_right && total > 2 * pagin.num) createPageLabel('a', 'ellipsis', index, '...', pagin.callback);
                        for (index; index <= total; index++) {
                            if (index == pagin.index) createPageLabel('b', 'dis', index, index);
                            else createPageLabel('a', '', index, index, pagin.callback);
                        }
                        /* if(_left)createPageLabel('a','ellipsis',index,'...',pagin.callback);*/
                    }
                }
                if (pagin.index < pagin.total) {
                    createPageLabel('a', 'next', pagin.index + 1, '<i class="iconfont icon-gt" style="margin-top:10px;font-size: 20px"></i>', pagin.callback); // 下一页
                    createPageLabel('a', 'end', pagin.total, '尾页', pagin.callback); // 尾页
                }
                if (pagin.total > 2 * pagin.num + 4) {//小于2*pagin.num页
                    //createPageLabel('span','txt','','到第');
                    var input = createPageLabel('input', 'go userInput', '', pagin.index);
                    input.onblur = function () {
                        var val = parseInt(input.value.replace(/(^\s*)|(\s*$)/g, ''), 10) || 1;
                        if (val < 1) val = 1;
                        if (val > pagin.total) val = pagin.total;
                        input.value = val;
                    };
                    //createPageLabel('span','txt','','页');
                    createPageLabel('a', 'btn', '跳页', '跳页', function () {
                        if (pagin.callback) pagin.callback(input, input.value, pagin.size, pagin.total)
                    });
                }
            }
        });
    </script>
</head>
</html>