<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header_form">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- 全局通用资源 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/global/reset.css}"/>
    <script type="text/javascript" th:src="@{/js/global/jquery-3.3.1.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/scroll/jquery.mCustomScrollbar.min.css}"/>
    <script type="text/javascript" th:src="@{/plugin/scroll/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!--树形结构-->
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/tree/lr-tree.css}"/>
    <script type="text/javascript" th:src="@{/plugin/tree/lr-tree.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/select/select.css}"/>
    <script type="text/javascript" th:src="@{/plugin/select/select.js}"></script>
    <!--时间插件-->
    <script type="text/javascript" th:src="@{/plugin/My97DatePicker/WdatePicker.js}"></script>
    <!--通用验证-->
    <script type="text/javascript" th:src="@{/plugin/validator/validator-helper.js}"></script>
    <script type="text/javascript" th:src="@{/plugin/validator/validator.js}"></script>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_719366_6d7866tar0p.css">
</head>
</html>