<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>pmp主页</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" th:href="@{/images/shortcut-icon2.png}"/>

    <!-- 公共插件 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/global/reset.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/pace/pace-theme-loading-bar.tmpl.css}"/>
    <script type="text/javascript" th:src="@{/plugin/pace/pace.js}"></script>
    <script type="text/javascript" th:src="@{/js/global/jquery-3.3.1.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/plugin/scroll/jquery.mCustomScrollbar.min.css}"/>
    <script type="text/javascript" th:src="@{/plugin/scroll/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!--弹窗插件-->
    <script type="text/javascript" th:src="@{/plugin/layer/layer.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_719366_s9n14c9k32.css">
</head>
<body>

<!-- 0.页面加载loading插件容器  -->
<div class="sdcm-loadbg" id="sdcm_loadbg"></div>

<!--1.头部-->
<div class="sdcm-frame-top">
    <div style="width: 230px;height:50px; font-size: 24px;line-height: 50px;text-align: center; letter-spacing: 3px;background-color: #325073; font-weight: bold; color: rgb( 255, 255, 255 ); ">
        监狱管理平台
    </div>
    <div style="position: absolute;left:230px;top:48px;width: calc(100% - 130px);height: 0;border-bottom: 2px solid #dfe6ec;"></div>
</div>
<div class="user">
    <input id="loginuserid" type="text" style="display:none;" th:value="${session.loginUser.id}">
    <a th:href="@{/login/loginOut}"><i class="glyphicon glyphicon-log-out"></i>注销</a>
</div>

<!--2.左侧菜单-->
<div class="sdcm-frame-menu-btn" id="sdcm_frame_menu_btn">
    <img th:src="@{/images/index/menuBtn.png}" width="22" height="22"/>
</div>
<div class="sdcm-frame-menu">
    <div class="sdcm-frame-menu-wrap" id="sdcm_frame_menu"></div>
</div>

<!--3.导航部分-->
<div class="sdcm-frame-tabs">
    <div class="sdcm-frame-tabs-wrap">
        <ul id="sdcm_frame_tabs_ul"></ul>
    </div>
</div>

<!--4.右侧主内容区，iframe容器-->
<div class="sdcm-frame-main" id="sdcm_frame_main">
    <!-- <img src="~/Content/images/iframebg.png" /> -->
</div>
<script type="text/javascript" th:src="@{/js/global/mybase.js}"></script>
<script type="text/javascript" th:src="@{/js/global/tab.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

<script>
    $(function () {
        if (window != top){
            top.location.href = location.href;
            return;
        }
        // 页面加载loading事件绑定
        Pace.on('done', function () {
            $("#sdcm_loadbg").fadeOut();
            Pace.options.target = '#Sdcmpacenone';
        });
        var loginuserid = $("#loginuserid").val();
        $.ajax({
            type: "get",
            url: "/system/user/userMenus",
            data: {"id": loginuserid},
            success: function (result) {
                if (result.status === 200) {
                    sdcm($, top.Sdcm, result.data);
                    //打开首页
                    top.Sdcm.frameTab.open({
                        F_ModuleId: '0',
                        F_Icon: 'icon-shouye',
                        F_FullName: '首页',
                        F_Url: '/frame/firstPage'
                    }, true);
                } else {
                    alert(result.message, "请重新登录");
                    window.location.href = "/login/toLogin";
                }
            },
            error: function () {
                alert("/system/user/userMenus ajax error");
            }
        });
    })
</script>
</body>


</html>